/* ========= BASE CSS SETUP ========= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, section, footer {
    position: relative;
    margin: 0px auto;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 60px 0px;
}

.col {
    width: 100%;
}

.background-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}



/* ========= FONT CSS ========= */

h1, h2, h3, h4, h5, h6, p, a, div {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    line-height: 0.75em;
}

h1 {
    font-size: 136px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 16px;
}



/* ========= HEADER CSS ========= */

header#header {
    position: absolute;
    background: transparent;
    z-index: 9999;
}

header#header > .container {
    grid-template-columns: 33.33333% 1fr;
    grid-template-rows: 1fr;
    max-width: 95%;
    padding: 10px 0px;
}

.logo-col {
    justify-content: center;
}

img.logo {
    width: 80px;
    height: 80px;
}

nav#site-navigation {
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

li.menu-item {
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li.menu-item a {
    font-family: "Teko", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 12px;
    color: #fff;
}



/* ========= HERO SECTION CSS ========= */

section#hero {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7f978c;
    background-image: url("images/hero_background-image_no-subject.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section#hero::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,1) 100%
    );
}

section#hero > .container {
    grid-template-columns: 1fr 33.33333%;
    grid-template-rows: 1fr;
    bottom: 120px;
}

h1.hero-text_sub {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    word-spacing: 3px;
    position: relative;
    padding: 5px 10px;
    box-shadow: 0px 0px 15px #00000066;
    background-color: rgba(255,255,255,.85);
    mix-blend-mode: screen;
}

h1.hero-text_sub::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
    height: 28px;
    width: 14px;
    clip-path: polygon(0 0, 0% 100%, 60% 50%);
    background-color: rgba(255,255,255,.85);
}

h1.hero-text_sub::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -42px;
    height: 28px;
    width: 28px;
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 25% 50%);
    background-color: rgba(255,255,255,.85);
}

h2.hero-text_main {
    font-family: "Teko", sans-serif;
    font-size: 136px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px #00000066;
    color: #e2c4a2;
    mix-blend-mode: overlay;
    filter: brightness(110%) contrast(200%);
}

p.hero-text_body {
    color: #fff;
}

.spacer {
    height: 100%;
}



/* ========= CLOUDS SECTION CSS ========= */
section.clouds {
    margin-top: -350px;
    background-image: url("images/clouds.png");
    background-position: top center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

section.clouds .spacer {
    height: 350px;
}



/* ========= ABOUT SECTION CSS ========= */

section#about {
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-image: url("images/mount-washington_topographic-map.jpg");
    background-position: center right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

section#about::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,1) 10%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,1) 90%
    );
    z-index: 0;
}

section#about::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255,255,255,0.33) 0%,
        rgba(255,255,255,0.5) 50%,
        rgba(255,255,255,1) 90%
    );
    z-index: 0;
}

section#about > .grid {
    grid-template-columns: 33.33333% 66.66666%;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

section#about .col:nth-child(1) {
    justify-content: center;
}

img#compass {
    width: 400px;
    height: 400px;
    transform-origin: center center;
    z-index: 1;
}

section#about .col:nth-child(2) {
    justify-content: center;
}

div#project-carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.prev-button, .next-button {
    text-transform: uppercase;
    padding: 10px 18px;
    border: 0;
    background-color: #ddd;
    z-index: 1;
    cursor: pointer;
}

ul.project-carousel_track {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    height: 100%;
    width: 100%;
    list-style: none;
}

.project_item {
    transform-origin: center left;
    padding: 20px 0px;
    cursor: pointer;
    z-index: 1;
}

.project_item.current-item a {
    text-transform: uppercase;
    font-weight: 700;
    color: red;
}

.project_item > a {
    color: #000;
}



/* ========= CALL TO ACTION SECTION CSS ========= */

section#cta {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7f978c;
    background-image: url("images/cta_background-image.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section#cta::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,0) 66%,
        rgba(255,255,255,1) 100%
    );
}

h2.cta-text_sub {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    word-spacing: 3px;
    position: relative;
    padding: 5px 10px;
    box-shadow: 0px 0px 15px #00000066;
    background-color: rgba(255,255,255,.85);
    mix-blend-mode: screen;
}

h2.cta-text_sub::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
    height: 28px;
    width: 14px;
    clip-path: polygon(0 0, 0% 100%, 60% 50%);
    background-color: rgba(255,255,255,.85);
}

h2.cta-text_sub::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -42px;
    height: 28px;
    width: 28px;
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 25% 50%);
    background-color: rgba(255,255,255,.85);
}

h2.cta-text_main {
    font-family: "Teko", sans-serif;
    font-size: 136px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px #00000066;
    color: #e2c4a2;
    mix-blend-mode: overlay;
    filter: brightness(110%) contrast(200%);
}

p.cta-text_body {
    color: #fff;
}



/* ========= FOOTER SECTION CSS ========= */

footer#footer {
    justify-content: center;
    align-items: center;
}

footer#footer > .container {
    grid-template-columns: 1fr 1fr 1fr;
}

footer#footer > .container > .col {
    align-items: center;
}

footer#footer h6 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container.social-media {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    max-width: 100%;
    padding: 0px;
}

.github_svg, .instagram_svg, .linkedin_svg {
    height: 1.25rem;
}