/* ========= BASE CSS SETUP ========= */
:root {
    --highlight-color: #b23523;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

header, section, footer, div {
    position: relative;
    margin: 0px auto;
    width: 100%;
}

/* === Utility Classes === */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap, 1rem);
    row-gap: 20px;
}

.column {
    flex-flow: column nowrap;
}

.row {
    flex-flow: row nowrap;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 60px 20px;
    transition: all .3s ease;
}

.col {
    width: 100%;
}



/* === Responsiveness: Tablet === */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
        padding: 60px 0px;
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }
}



/* ========= FONT CSS ========= */
h1, h2, h3, h4, h5, h6, p, a, div, button {
    text-rendering: optimizeLegibility;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .3s ease;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: "Teko", sans-serif;
    font-weight: 500;
    line-height: 0.75em;
    transition: .3s ease;
}

h1 {
    font-size: 124px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    h1, h2, h3, h4, h5, h6, p, a, div, button {
        line-height: 0.8em;
    }
}



/* ========= BUTTON STYLES CSS ========= */
button {
    font-size: 16px;
    font-weight: 400;
}

.text-btn:hover {
    background: rgba(255,255,255,.5);
    background: #b23523;
    color: #fff;
}



/* ========= MISCELLANEOUS ========= */
.d-only {
    display: inline-block;
}

.t-only {
    display: none;
}

.m-only {
    display: none;
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .d-only {
        display: none;
    }

    /* .t-only {
        display: none;
    } */

    .m-only {
        display: inline-block;
    }
}



/* ========= HEADER CSS ========= */
.header {
    position: absolute;
    background: transparent;
    z-index: 1001;
}

.header .container {
    max-width: 95%;
    padding: 10px 0px;
}

.header .container::before {
    content: "";
    display: block;
    position: absolute;
    top: 101px;
    left: 45px;
    width: 3px;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0)
    );
    transition: .3s;
}

.header .grid {
    grid-template-columns: 33.33333% 1fr;
    grid-template-rows: 1fr;
}



/* --- LOGO --- */
.logo-col {
    justify-content: center;
}

.logo-link {
    position: relative;
}

.logo-link::before {
    content: "";
    display: block;
    width: calc(100% + 4px);
    height: calc(200% + 4px);
    position: absolute;
    left: -2px;
    bottom: 0px;
    border: 2px solid #fff;
    border-radius: 0px 0px 50px 50px;
}

.logo {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
}



/* --- NAVIGATION --- */
.nav.flex {
    justify-content: center;
    align-items: flex-end;
}

.main-menu.flex {
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.main-menu {
    list-style-type: none;
}

.main-menu__menu-item {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-item__link {
    position: relative;
    font-family: "Teko", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 24px 10px 12px;
    color: #fff;
    z-index: 0;
    transition: all .3s ease;
}

.menu-item__link:hover {
    color: #333;
}

.menu-item__link::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    height: 100%;
    width: 100%;
    transform: translateY(-50%);
    clip-path: polygon(0 0, 87.5% 0%, 100% 50%, 87.5% 100%, 0 100%, 0% 50%);
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255) 0%,
        rgba(255,255,255) 100%);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0%;
    opacity: .5;
    z-index: -1;
    transition: all .3s ease;
}

.menu-item__link:hover::after {
    background-size: 100%;
    opacity: 1;
}



/* --- ARIA-HIDDEN --- */
.menu-item__link [aria-hidden="true"] {
    font-weight: 400;
    margin-inline-end: .2em;
}



/* --- CONTACT MENU BUTTON --- */
@media only screen and (min-width: 767px) {
    .contact-btn .menu-item__link {
        color: #fff;
    }
    
    .contact-btn .menu-item__link:hover {
        color: #333333;
    }
    
    .contact-btn .menu-item__link::before {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 1px);
        left: 0px;
        height: 100%;
        width: 100%;
        transform: translateY(-50%);
        clip-path: polygon(0 0, 87.5% 0%, 100% 50%, 87.5% 100%, 0 100%, 0% 50%);
        background-image: linear-gradient(
            180deg,
            rgba(255,255,255) 0%,
            rgba(255,255,255) 100%);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 0%;
        opacity: 1;
        z-index: -1;
        transition: all .3s ease;
    }
    
    .contact-btn .menu-item__link::after {
        background-image: linear-gradient(
            180deg,
            #b23523 0%,
            #b23523 100%);
        background-size: 100%;
        opacity: 1;
    }
    
    .contact-btn .menu-item__link:hover::after {
        background-image: linear-gradient(
            180deg,
            #b23523 0%,
            #b23523 100%);
        opacity: 0;
    }
    
    .contact-btn .menu-item__link:hover::before {
        background-size: 100%;
    }
}



/* --- MOBILE NAVIGATION --- */
.mobile-nav-toggle {
    display: none;
}



/* === Responsiveness: Laptop with MDPI Display === */
@media only screen and (max-width: 1280px) {
    .header .container {
        padding: 10px 2%;
    }

    .header .container::before {
        left: calc(2% + 45px);
    }

    .header .grid {
        grid-template-columns: 25% 1fr;
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .header .container::before {
        height: 490px;
        top: 99px;
    }

    .main-menu {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0%;
        padding: min(30vh, 10rem) 2rem;
        
        background: hsl(0 0% 50% / 0.1);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .main-menu.flex {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
        --gap: 2em;
    }

    .main-menu[data-visible="true"] {
        transform: translateX(0%);
    }

    .menu-item__link [aria-hidden="true"]  {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        top: 3rem;
        right: clamp(1.5rem, 2rem, 2.5rem);
        width: 1.25rem;
        aspect-ratio: 1;
        border: 0;
        background: transparent;
        background-image: url("svg/bars-solid.svg.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        position: fixed;
        right: clamp(2rem, 3rem, 3rem);
        background-image: url("svg/xmark-solid.svg.svg");
    }

    .menu-item__link {
        font-size: 32px;
        padding: 12px 16px 12px 10px;
        text-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    .menu-item__link:hover {
        text-shadow: 0 0 0px rgba(0,0,0,0);
    }
}



/* ========= HERO SECTION CSS ========= */

/* === LAYOUT === */
.hero-section {
    height: 100vh;
    padding: 120px 0px;
    background: #7f978c;
    background-image: url("images/hero-section__background-image--no-subject.webp");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section.flex {
    justify-content: center;
    align-items: center;
}

.hero-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,1) 100%
    );
}

.hero-section .container {
    width: 1100px;
}

.hero-section .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/* --- Headers Styling --- */
.hero-section__sub-text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    word-spacing: 3px;
    position: relative;
    margin-left: -3px;
    padding: 5px 10px;
    padding-right: 20px;
    box-shadow: 0px 0px 15px #00000066;
    background-color: rgba(255,255,255,.85);
    mix-blend-mode: screen;
}

.hero-section__sub-text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -21px;
    height: 100%;
    width: 21px;
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
    background-color: rgba(255,255,255,.85);
}

.hero-section__sub-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -31px;
    height: 100%;
    width: 21px;
    clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
    background-color: rgba(255,255,255,.85);
}

.hero-section__main-text {
    font-family: "Teko", sans-serif;
    font-size: 136px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px #00000066;
    color: #e2c4a2;
    mix-blend-mode: overlay;
    filter: brightness(110%) contrast(200%);
}

/* --- Spacer Element --- */
.hero-section .spacer {
    height: 100%;
}



/* === Responsiveness: MDPI Laptop === */
@media only screen and (max-width: 1280px) {
    .hero-section .container {
        max-width: 95%;
        width: 100%;
        padding: 60px 2% 60px calc(2% + 53px);
    }

    .hero-section__sub-text {
        margin-left: -8px;
        padding: 5px 15px;
    }
}

/* === Responsiveness: Tablet === */
@media only screen and (max-width: 1024px) {
    .hero-section {
        background-position: 75% 50%;
        /* height: clamp(600px, 75vh, 100vh); */
    }

    .hero-section::before {
        background-image: linear-gradient(
            180deg,
            rgba(255,255,255,0) 75%,
            rgba(255,255,255,1) 100%);
    }

    .hero-section .grid {
        grid-template-columns: 1fr;
    }

    .hero-section__sub-text {
        padding: 5px 10px;
    }

    .hero-section__main-text {
        font-size: 124px;
    }

    .hero-section .col:last-child {
        display: none;
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .hero-section {
        background-position: 100% 50%;
        background-attachment: scroll;
        padding-bottom: 60px;
        height: 600px;
    }

    .hero-section .container {
        padding-top: 0px;
    }

    .hero-section__sub-text {
        font-size: clamp(14px, 2.5vw, 18px);
    }

    .hero-section__main-text {
        font-size: clamp(1rem, 15vw, 100vw);
    }
}



/* === Responsiveness: screen sizes < 428px === */
@media only screen and (max-width: 428px) {
    .hero-section {
        /* height: clamp(550px, 72vh, 100vh); */
        background-position: 100% 50%;
        background-attachment: scroll;
        padding-bottom: 60px;
    }

    .hero-section__sub-text {
        font-size: clamp(11px, 2.5vw, 100vw);
        margin-right: 31px;
    }

    .hero-section__main-text {
        font-size: clamp(1rem, 13vw, 100vw);
    }
}



/* ========= SECTION DIVIDER: CLOUDS CSS ========= */
.section-divider__clouds {
    margin-top: -340px;
    background-image: url("images/clouds.webp");
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-divider__clouds--flipped {
    background-image: url("images/clouds--flipped-x.webp");
}

.section-divider__clouds .spacer {
    min-height: 240px;
    transition: min-height .3s ease;
}



/* === Responsiveness: Tablet === */
@media only screen and (max-width: 1024px) {
    .section-divider__clouds {
        margin-top: -230px;
    }

    .section-divider__clouds .spacer {
        min-height: 110px;
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .section-divider__clouds {
        margin-top: -180px;
    }

    .section-divider__clouds .spacer {
        min-height: 60px;
    }
}



/* ========= PROJECTS SECTION CSS ========= */

/* === LAYOUT === */
.projects-section {
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 400px;
    background-image: url("images/mount-washington-topographic-map.webp");
    background-position: center right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,1) 10%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,1) 90%
    );
    z-index: 0;
}

.projects-section::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255,255,255,0.33) 0%,
        rgba(255,255,255,0.5) 50%,
        rgba(255,255,255,1) 90%
    );
    opacity: .75;
    z-index: 0;
}

.projects-section .grid {
    grid-template-columns: 33.33333% 66.66666%;
    grid-template-rows: 1fr;
    column-gap: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    z-index: 1;
}



/* --- Column: Compass Image --- */
.projects-section .col:first-child {
    justify-content: center;
    position: relative;
}

.projects-section .col:first-child::after {
    content: "";
    display: block;
    position: absolute;
    right: -50%;
    width: 50vw;
    height: 600px;
    background-image: linear-gradient(
        90deg,
        #ffffff 0%,
        #ffffff80 66.66666%,
        #ffffff00 100%);
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.compass {
    position: absolute;
    right: unset;
    width: 600px;
    height: 600px;
    transform-origin: center center;
    z-index: 1;
    margin-top: -100px;
    margin-bottom: -100px;
    transition: .3s;
}



/* --- Column: Project Carousel --- */
.projects-section .col:last-child {
    justify-content: center;
    align-items: center;
}



/* Project Carousel */
.project-carousel {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 1;
}

.project-carousel__track {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: hidden scroll;
    -ms-overflow-style: none;
    scroll-snap-type: both mandatory;
    scrollbar-width: none;
    scrollbar-color: transparent;
    list-style: none;
}

.project-carousel__track::-webkit-scrollbar {
    display: none;
}

.project-carousel__track::-webkit-scrollbar-track {
    background: transparent;
    color: transparent;
}

.project-carousel__track::-webkit-scrollbar-thumb {
    background: transparent;
    color: transparent;
}



/* Project Carousel - Slides/Items */
.project_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    scroll-snap-align: start;
    transform-origin: center center;
    width: 100%;
    height: 400px;
    padding: 0px 0px;
    cursor: pointer;
    z-index: 1;
}

/* In case I want to reuse for later */
/* .project_item .item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    font-family: "Teko", sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    padding: 0px;
    color: #000;
} */

.project_item .item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    font-family: "Teko", sans-serif;
    font-size: 52px;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: 0px 0px 2px #00000020;
    color: var(--highlight-color);
    padding: 0px;
    z-index: 2;
}

/* .project_item .item:hover {
    font-size: 52px;
    font-weight: 500;
    text-shadow: 0px 0px 10px #00000033;
    color: var(--highlight-color);
} */

.mockup {
    width: 100%;
    max-height: 300px;
    height: 100%;
    object-position: center center;
    object-fit: contain;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.project_item .item:hover .mockup {
    transform: scale(1.1);
}

.text-wrap {
    display: block;
    text-align: center;
}



/* Project Carousel - Current Slide/Item */
/* .project_item.current-item {
    z-index: 2;
} */

/* .project_item.current-item .item {
    font-family: "Teko", sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 0px 0px 2px #00000020;
    color: var(--highlight-color);
    transition-delay: font-family .3s, font-size .3s, font-weight .3s, text-transform .3s text-shadow .3s;
} */

/* .project_item.current-item .item:hover .mockup {
    transform: scale(1.1);
} */



/* Buttons Container */
.projects-section .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.buttons-container__prev-button, .buttons-container__next-button {
    min-width: 150px;
    text-transform: uppercase;
    padding: 10px 18px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.12);
    z-index: 1;
    cursor: pointer;
}



/* === RESPONSIVENESS: TABLET === */
@media only screen and (max-width: 1024px) {
    .projects-section > .container {
        max-width: 100%;
    }

    .projects-section .grid {
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        column-gap: 40px;
    }

    .projects-section .col {
        flex-wrap: wrap;
    }

    .projects-section .col:first-child {
        width: calc(100%);
    }

    .projects-section .col:first-child::after {
        right: unset;
        left: 0;
        width: 50vw;
        min-width: 600px;
        background-image: linear-gradient(
            90deg,
            #ffffff 0%,
            #ffffffB8 33.33333%,
            #ffffff80 50%,
            #ffffff00 90%);
    }

    .compass {
        right: -180px;
    }

    .projects-section .col:last-child {
        width: calc(100%);
    }
}

/* === RESPONSIVENESS: MOBILE === */
@media only screen and (max-width: 767px) {
    .projects-section {
        background-attachment: fixed;
    }

    .projects-section .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        column-gap: 0px;
        row-gap: 20px;
    }

    .projects-section::before {
        background-image: linear-gradient(
            180deg,
            rgba(255,255,255,0.66) 0%,
            rgba(255,255,255,1) 100%);
    }

    .projects-section::after {
        display: none;
        background-image: linear-gradient(
            90deg,
            rgba(255,255,255,0.33) 0%,
            rgba(255,255,255,0.5) 50%,
            rgba(255,255,255,0.33) 100%);
    }

    .projects-section > .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* Column: Compass Image */
    .projects-section .col:first-child {
        align-items: center;
        width: 100%;
    }

    .compass {
        position: static;
        height: clamp(150px, 80vw, 300px);
        width: clamp(150px, 80vw, 300px);
        margin-top: 0px;
        margin-bottom: -170px;
    }

    .projects-section .col:first-child::after {
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100vw;
        min-width: unset;
        margin-top: -120px;
        background-image: linear-gradient(
            180deg,
            #ffffff00 0%,
            #ffffff 75%);
    }

     /* Column: Project Carousel */
     .projects-section .col:last-child {
        width: 100%;
    }

    .project-carousel {
        height: 300px;
    }

    .project-carousel__track {
        flex-flow: row nowrap;
        height: 300px;
        overflow: scroll hidden;
    }

    .project_item {
        height: 100%;
        padding: 0px 20px;
    }

    .item {
        height: 300px;
    }

    .mockup {
        max-height: 180px;
    }

    .project_item.current-item .item {
        font-size: 40px;
    }

    /* Button Container */
    .projects-section .buttons-container {
        max-width: 90%;
        margin: 0px auto;
    }

    .buttons-container__prev-button, .buttons-container__next-button {
        min-width: 120px;
    }
}

@media only screen and (max-width: 428px) {
    /* .projects-section .col:first-child::after {
        background-image: radial-gradient(
            circle at center,
            #ffffff 25%,
            #ffffff00 75%);
    } */
}



/* ========= ABOUT SECTION CSS ========= */

/* === LAYOUT === */
.about-section .container {
    min-height: 800px;
    /* background-image: url("images/coffee-stained-paper.webp"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.about-section .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 20px;
}

.about-section .col.flex {
    justify-content: space-between;
}

.journal {
    padding: 40px 20px 40px 30px;
}

/* --- Headers Styling --- */
.journal__main-title {
    font-size: 52px;
    text-transform: uppercase;
}

/* --- Body Text Styling --- */
.journal__text {
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 10px;
}

/* --- Torn Paper Elements on Small Devices --- */
.about-section .torn-paper {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -24px;
    background-image: url("images/paper-tear.webp");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-size: 1200px;
    z-index: 2;
}

.about-section .torn-paper .spacer {
    min-height: 50px;
    transition: min-height .3s ease;
}

/* --- Info Box Styling --- */
.about-section .infobox.flex {
    flex-flow: row nowrap;
    align-items: flex-start;
}

.infobox {
    padding: 10px 0px;
}

.infobox-icon {
    font-size: 2.5em;
    font-weight: 500;
    width: 40px;
    height: 40px;
}

.infobox-content__text {
    font-size: 15px;
}

/* === Responsiveness: Coffee Stained Paper Image === */
@media only screen and (max-width:1200px) {
    .about-section .container {
        min-height: 400px;
        background-image: none;
    }

    .about-section .col {
        background-color: #e3c8a9;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    }

    .about-section .container > .col:first-child {
        min-height: 400px;
        background-image: url("images/coffee-stained-paper__left-half.webp");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .about-section .container > .col:last-child {
        min-height: 400px;
        background-image: url("images/coffee-stained-paper__right-half.webp");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .journal {
        padding: 40px 30px 0px 30px;
    }

    .journal.flex {
        align-items: flex-start;
    }

    .journal__main-title {
        align-self: center;
        text-align: center;
    }

    .about-section .torn-paper {
        display: block;
    }
}

/* === Responsiveness: Tablet === */
@media only screen and (max-width: 1024px) {
    .about-section .col {
        background-position: center center;
    }

    .journal__text {
        text-align: center;
        font-size: 16px;
    }

    .infobox {
        max-width: 100%;
        margin: 0px;
    }

    .about-section .torn-paper {
        margin-bottom: -26px;
    }
}

/* === Responsiveness: Tablet <= 810px === */
@media only screen and (max-width: 810px) {
    .about-section .grid {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
}

/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .about-section {
        background-image: url("images/mount-washington-topographic-map.webp");
        background-position: center right;
        background-attachment: fixed;
        background-size: cover;
    }

    .about-section::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            180deg,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,0.66) 100%);
        z-index: 0;
    }

    .about-section::after {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            90deg,
            rgba(255,255,255,0.33) 0%,
            rgba(255,255,255,0.66) 50%,
            rgba(255,255,255,0.33) 100%);
        z-index: 0;
    }

    .about-section .container {
        padding-top: 0px;
    }

    .about-section .grid {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    .about-section .col {
        text-align: center;
        background-position: center center;
    }

    .about-section .col.flex {
        align-items: center;
    }

    .about-section .col:first-child {
        order: 2;
    }

    .about-section .col:last-child {
        order: 1;
    }

    .journal {
        padding: 40px 20px 0px 20px;
    }

    .journal__main-title {
        font-size: 42px;
        text-transform: uppercase;
    }
    
    .journal__text {
        font-size: 14px;
        line-height: 1.8em;
    }
    
    .infobox {
        padding: 5px 0px;
        text-align: left;
    }

    .infobox-icon {
        font-size: 1.4em;
        font-weight: 600;
        width: 20px;
        height: 20px;
    }

    .infobox-content__title {
        font-size: 22px;
        letter-spacing: 0.6px;
    }

    .infobox-content__text {
        font-size: 14px;
    }

    .about-section .torn-paper {
        display: block;
        margin-bottom: -24px;
    }
}



/* ========= SECTION DIVIDER: PAPER TEARS CSS ========= */

.section-divider__paper-tear {
    margin-top: 0px;
    margin-bottom: -22px;
    background-image: url("images/paper-tear.webp");
    background-position: center bottom;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-size: 1200px;
    z-index: 1;
}

.section-divider__paper-tear .container {
    padding: 0px 0px 0px 0px;
}

.section-divider__paper-tear .spacer {
    min-height: 50px;
    transition: min-height .3s ease;
}



/* === Responsiveness: Tablet === */
@media only screen and (max-width: 1024px) {
    .section-divider__paper-tear {
        margin-bottom: -18px;
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .section-divider__paper-tear {
        margin-bottom: -20px;
    }
}



/* ========= CALL TO ACTION SECTION CSS ========= */

/* === LAYOUT === */
.cta-section {
    height: clamp(600px, 100vh, 100vh);
    padding: 0px 0px 60px 0px;
    background: #7f978c;
    background-image: url("images/cta-section__background-image.webp");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-section.flex {
    justify-content: center;
    align-items: center;
}

.cta-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(0,0,0,0.2) 0%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,1) 100%
    );
}

.cta-section .container {
    width: 1100px;
}

/* --- Headers Styling --- */
.cta-section__sub-text {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    word-spacing: 3px;
    margin-left: -3px;
    padding: 5px 10px;
    padding-right: 20px;
    box-shadow: 0px 0px 15px #00000066;
    background-color: rgba(255,255,255,.85);
    mix-blend-mode: screen;
}

.cta-section__sub-text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -21px;
    height: 100%;
    width: 21px;
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
    background-color: rgba(255,255,255,.85);
}

.cta-section__sub-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -31px;
    height: 100%;
    width: 21px;
    clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
    background-color: rgba(255,255,255,.85);
}

.cta-section__main-text {
    font-family: "Teko", sans-serif;
    font-size: 136px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px #00000066;
    color: #e2c4a2;
    mix-blend-mode: overlay;
    filter: brightness(110%) contrast(200%);
}


/* === Responsiveness: MDPI Laptop === */
@media only screen and (max-width: 1280px) {
    .cta-section .container {
        max-width: 95%;
        width: 100%;
        padding: 60px 2% 60px calc(2% + 53px);
    }

    .cta-section__sub-text {
        margin-left: -8px;
        padding: 5px 15px;
    }
}



/* === Responsiveness: Tablet === */
@media only screen and (max-width: 1024px) {
    .cta-section {
        background-position: 77% center;
        background-attachment: scroll;
        height: clamp(600px, 75vh, 100vh);
    }

    .cta-section.flex {
        justify-content: flex-start;
    }

    .cta-section .container {
        padding: 120px 2% 120px calc(2% + 53px);
    }

    .cta-section__sub-text {
        padding: 5px 10px;
    }

    .cta-section__main-text {
        font-size: 124px;
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .cta-section {
        background-attachment: scroll;
        height: clamp(600px, 75vh, 100vh);
    }

    .cta-section .container {
        padding: 90px 2% 90px calc(2% + 53px);
    }

    .cta-section__sub-text {
        font-size: clamp(14px, 2.5vw, 18px);
    }

    .cta-section__main-text {
        font-size: clamp(1rem, 15vw, 100vw);
    }
}



/* === Responsiveness: Screen Sizes < 428px === */
@media only screen and (max-width: 428px) {
    .cta-section {
        height: 600px;
    }

    .cta-section__sub-text {
        font-size: clamp(11px, 2.5vw, 100vw);
        margin-right: 31px;
    }

    .cta-section__main-text {
        font-size: clamp(1rem, 13vw, 100vw);
    }
}

/* === Responsiveness: Screen Sizes < 320px === */
@media only screen and (max-width: 320px) {
    .cta-section::before {
        background-image: linear-gradient(
        180deg,
        rgba(0,0,0,0.1) 0%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,1) 100%);
    }
}



/* ========= FOOTER SECTION CSS ========= */

/* === LAYOUT === */

.footer.flex {
    justify-content: center;
    align-items: center;
}

.footer .grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.footer > .container {
    max-width: 95%;
    padding: 60px 0px;
}

.footer > .container::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 210px;
    left: 45px;
    width: 3px;
    height: calc(100vh + 20px);
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0)
    );
    transition: .3s;
}

.footer .col {
    align-items: center;
}

.footer .col:nth-child(1) {
    align-items: flex-start;
}

/* --- Headers Styling --- */
.footer__heading {
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* --- Contact List Element --- */
.footer__contact-list {
    list-style-type: none;
}

.footer__contact-list i {
    margin-right: 5px;
}

.footer__email {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #00000033;
    color: var(--highlight-color);
}

/* --- Social Media Elements: Container --- */
.footer__social-media.container {
    max-width: 100%;
    padding: 0px;
}

.footer__social-media.flex {
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/* --- Social Media Elements: Links --- */
.social-media__link:hover {
    fill: var(--highlight-color);
}

/* --- Social Media Elements: SVGs --- */
.github_svg, .instagram_svg, .linkedin_svg {
    height: 1.25rem;
}


/* === Responsiveness: Laptop === */
@media only screen and (max-width: 1280px) {
    .footer > .container {
        padding: 60px 2%;
    }

    .footer .container::before {
        height: calc(100vh + 210px);
        left: calc(2% + 45px);
    }
}



/* === Responsiveness: Mobile === */
@media only screen and (max-width: 767px) {
    .footer > .container {
        column-gap: 0px;
        row-gap: 40px;
        padding-bottom: 30px;
    }

    .footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .footer .col:nth-child(1) {
        align-items: center;
    }

    .footer__heading {
        font-size: 24px;
    }
}